$mobile: 1040px;
$laptop: 1041px;
$desktop: 1200px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}



@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}


@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}



$blue: #0070d2;






// start


.product_main {
  margin-top: 70px;
}


.product_mainContainer {
  padding: 40px 0 140px 0;
}


.product_breadcrumb {
  margin-bottom: 60px;
  padding: 0 40px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }


  ul li {
    display: inline-block;

    &:first-child::after {
      content: ">";
      margin: 0 5px;
    }

    &:last-child {
      font-weight: 600;
    }
  }
}


.product_info_title {
  padding: 40px;

  @include laptop {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.product_number {
  color: #828282;
}


.product_price {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;

  @include laptop {
    margin: 0;
  }
}


.product_price_sale {
  color: $blue;
}


.product_price_sales {
  font-size: 18px;
  margin-left: 5px;
  text-decoration: line-through;
  color: #858585;
}



.product_info_swiper_container {
  position: relative;
  margin: 40px 0 80px 0;
}


.product_info_swiper {
  position: static;
  padding-bottom: 40px !important;

  img {
    width: 100%;
  }
}


#product_info_swiperNext,
#product_info_swiperPrev {
  color: #474747;
  transform: translateY(-50%);
}


#product_info_swiperNext::after,
#product_info_swiperPrev::after {
  font-size: 26px;
}



// color 

.product_info_colorContainer {
  padding: 0 40px;

  @include desktop {
    width: 1200px; 
    margin: 0 auto;
  }

  h4 {
    font-weight: 700;
    margin-bottom: 20px;

    @include laptop {
      text-align: center;
    }
  }
}


.product_info_color_swiper {
  width: 100%;

  @include laptop {
    width: 40%;
    margin: 0 auto;
  }
}


.product_color_box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eee;
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s;

  img {
    width: 100%;
    display: block;

    @include laptop {
      width: 100%;
    }
  }
}


.product_color_box.colorSelected {

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url('../img/icon/checked-white.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20% 20%;
    border-radius: 16px;
  }
}


.product_info_size {
  padding: 40px;

  @include laptop {
    max-width: 600px;
    margin: 0 auto;
  }

  div {
    display: flex;
    justify-content: center;
  }

  p {
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
  }
}


.size_option {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  border: 1px solid #aaa;
  background-color: transparent;
  border-radius: 20px;
  text-align: center;
  line-height: 60px;
  transition: 0.3s;
  position: relative;
  font-size: 16px;

  &:hover {
    transform: translateY(-5px);
  }
}


.size_option.sizeSelected {
  background-color: #222;
  color: white;
}


.add_bagBtn {
  margin: 0 auto;
  width: 300px;
  padding-top: 60px;

  button {
    width: 300px;
    height: 60px;
    border: 1px solid $blue;
    background-color: $blue;
    border-radius: 50px;
    transition: all 0.3s;
    color: white;

    &:hover {
      background-color: white;
      color: $blue
    }
  }
}


.shipping_info {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;

  a {
    color: #666;
  }
}


.quantity {
  padding: 0 40px;

  @include mobile {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    font-weight: 700;
    line-height: 40px;

    @include laptop {
      text-align: center;
      margin-bottom: 20px;
      line-height: normal;
    }
  }

  div {
    display: flex;
    justify-content: center;
  }

  input {
    width: 40px;
    height: 40px;
    border: 1px solid #aaa;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    border-radius: 50%;
  }

  span {
    width: 40px;
    line-height: 40px;
    text-align: center;
  }
}


#plusbtn {
  background-image: url('../img/icon/plus.png');
}


#minusbtn {
  background-image: url('../img/icon/minus.png');
}


// detail 

.product_detail_info {
  padding: 40px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.detail_info_title {
  padding: 20px 0;
  border-bottom: 1px solid #aaa;
  background: url('../img/icon/down-arrow.png') no-repeat;
  background-position: right center;
  background-size: 18px 18px;
  display: flex;
  justify-content: space-between;
  padding-right: 48px;
}


.detail_info_title.detail_info_open {
  background: url('../img/icon/up-arrow.png') no-repeat;
  background-position: right center;
  background-size: 18px 18px;
  border-bottom: none;
}


.detail_inner {
  display: none;
  padding: 20px 0;
}


.reviews_rate {
  height: 20px;
  display: flex;

  span {
    width: 20px;
    height: 20px;
    display: block;
    // border: 1px solid black;
    background: url('../img/icon/star_fill.png') no-repeat;
    background-position: right center;
    background-size: 18px 18px;
  }
}


.reviews_wrapper {

  .reviews_rate {
    display: flex;
    justify-content: center;

    span {
      background: url('../img/icon/star.png') no-repeat;
      background-position: right center;
      background-size: 18px 18px;
    }
  }

  p {
    text-align: center;
    font-weight: 600;
    margin: 20px 0 0 0;
  }

  button {
    display: block;
    width: 240px;
    height: 48px;
    border: 1px solid $blue;
    background-color: white;
    border-radius: 50px;
    transition: all 0.3s;
    color: $blue;
    margin: 20px auto 0 auto;

    &:hover {
      background-color: $blue;
      color: white;
    }
  }
}


#reviewTextarea {
  resize: none;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  padding: 20px;
  color: black;
  border: 1px solid #aaa;
  border-radius: 8px;
}


.divided_line {
  width: 200px;
  height: 4px;
  border-radius: 20px;
  background-color: #eee;
  margin: 80px auto;
}



.product_detail_img {
  max-width: 600px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}