.customer_main {
  margin-top: 70px;
}

.customerSearch {
  width: 100%;
  height: 600px;
  background: url("img/bg18.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

.customerSearch_container {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 40px;
  color: white;
}

.customerSearch_container h2 {
  margin-bottom: 60px;
}

.customerSearch_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1041px) {
  .customerSearch_container form {
    width: 400px;
    margin: 0 auto;
  }
}

.customerSearch_container input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0 20px;
  border-radius: 50px 0 0 50px;
  background-color: #eeeeee;
}

.customerSearch_container button {
  background-color: #0070d2;
  color: white;
  border-radius: 0 50px 50px 0;
  padding: 0 20px;
}

.customerEmail {
  padding: 80px 40px;
}

@media (min-width: 1200px) {
  .customerEmail {
    width: 1200px;
    margin: 0 auto;
  }
}

.customerEmail_container {
  border-radius: 20px;
  padding: 40px 20px;
}

@media (min-width: 1041px) {
  .customerEmail_container {
    max-width: 800px;
    margin: 0 auto;
  }
}

.customerEmail_inner {
  border: none;
}

.customerEmail-copy {
  padding-bottom: 40px;
}

.customerEmail-copy h3 {
  font-weight: 700;
}

.customerEmail-copy p {
  color: #535353;
  font-size: 14px;
}

.customerEmail_option {
  margin-bottom: 20px;
}

.customerEmail_option select {
  width: 100%;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 50px;
  padding-left: 20px;
  background: url("img/icon/down-arrow.png") no-repeat;
  background-position: 96% center;
  background-size: 16px 16px;
}

.customerEmail_option .select-option_00 {
  color: #aaa;
}

.customerEmail_option label {
  visibility: hidden;
}

.customerEmail_iput {
  margin-bottom: 5px;
}

.customerEmail_iput input {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #aaa;
}

.customerEmail_iput label {
  visibility: hidden;
}

.customerEmail_message label {
  visibility: hidden;
}

.customerEmail_message textarea {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.customerEmail_message .form-caption {
  font-size: 14px;
}

.customerEmail_message #messagecount {
  font-weight: 600;
  color: #111;
}

.customerEmail_send {
  margin-top: 40px;
}

.customerEmail_send button {
  width: 100%;
  height: 48px;
  border: 1px solid #0070d2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50px;
  color: #0070d2;
}

.customerEmail_send button:hover {
  background-color: #0070d2;
  color: white;
}
/*# sourceMappingURL=customer.css.map */