@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

// font-family: 'Montserrat', sans-serif;


@font-face {
  font-family: 'Catamaran', sans-serif;
  src: url('font/static/Catamaran-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}


@font-face {
  font-family: 'Catamaran', sans-serif;
  src: url('font/static/Catamaran-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}


@font-face {
  font-family: 'Catamaran', sans-serif;
  src: url('font/static/Catamaran-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}


@font-face {
  font-family: 'Catamaran', sans-serif;
  src: url('font/static/Catamaran-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Catamaran', sans-serif;
  src: url('font/static/Catamaran-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Catamaran', sans-serif;
  src: url('font/static/Catamaran-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}




$mobile: 1040px;
$laptop: 1041px;
$desktop: 1200px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}



@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}


@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}



$blue: #0070d2;




html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid gray;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3rem;
  color: #222;
  overscroll-behavior: none;
}

h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}


a {
  transition: all 0.3s;
  color: #222;
  cursor: auto;
}

a:link {
  color: #222;
  text-decoration: none;
}

a:visited {
  color: #222;
}

a:hover {
  color: #222;
}

a:active {
  color: #222;
}

button {
  border: none;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
}

img {
  width: 50px;
}

ul li {
  list-style: none;
}

video {
  width: 100%;
}

input,
select,
option {
  font-family: 'Montserrat', sans-serif;
}

input,
select {
  outline: none;
}

select {
  appearance: none;
}


// start



.bodyscroll {
  overflow: hidden;
}


header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s;

  &:hover,
  &:active,
  &:focus {
    background-color: white;
  }

  @include laptop {
    background-color: white;
  }
}


header.topFixed {
  // top: 0;
  background-color: white;
}




.header_container {
  padding: 0 40px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.header_wrapper {



  display: flex;
  justify-content: space-between;
}



.logoBox {

  a {
    display: block;
    width: 150px;
    height: 70px;
    background: url('img/logo//logo_blue.png') no-repeat;
    background-position: right center;
    background-size: 150px 30px;
    cursor: pointer;
  }

  span {
    visibility: hidden;
  }
}


.mobile_navWrapper {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #eee;
  border-top: 1px solid #eee;
  padding: 40px 0 80px 0;
  position: fixed;
  overflow-y: auto;
  z-index: 100;
}



.back_blur {
  display: none;
  position: absolute;
  top: 70;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  // backdrop-filter: blur(5px);
  position: fixed;
}


.mobile_navContainer {
  @include mobile {
    display: block;
  }


  @include laptop {
    display: none;
  }

}


.mobile_navWrapper {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #eee;
  border-top: 1px solid #eee;
  padding: 40px 0 80px 0;
  position: fixed;
  overflow-y: auto;
  z-index: 100;
}


.pc_navContainer {
  @include mobile {
    display: none;
  }


  @include laptop {
    display: block;
  }

}




.mobile_navContainer {
  display: block;

  @include laptop {
    display: none;
  }
}


.pc_navContainer {
  display: block;

  @include mobile {
    display: none;
  }
}



.mainmenu {

  @include laptop {

    &>li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }




  .men {
    .menu_title {
      cursor: pointer;
    }
  }

}




.menu_title {

  @include mobile {
    display: block;
    background: url('img/icon/down-arrow.png') no-repeat;
    background-position: calc(100% - 40px) center;
    background-size: 18px 18px;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    transition: 0.2s;

    &:hover {
      background-color: white;
    }
  }



  @include laptop {
    display: block;
    line-height: 70px;
    position: relative;


    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 0px;
      height: 2px;
      border-radius: 50%;
      background-color: $blue;
      transition: 0.3s;
    }
  }

}


.menu_title.openTitle {

  @include mobile {
    background: url('img/icon/up-arrow.png') no-repeat;
    background-position: calc(100% - 40px) center;
    background-size: 18px 18px;
    color: $blue;
  }

  @include laptop {
    color: $blue;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      height: 2px;
      border-radius: 20px;
      background-color: $blue;
    }
  }
}


.board {

  .menu_title {
    background: none;
    cursor: pointer;

    &:hover {
      background-color: white;
    }

    &::before {
      content: "";
      display: none;
    }
  }
}




.submenu {


  @include mobile {
    display: none;
    // padding: 40px 0;
    // position: absolute;
    // width: 100%;
    // height: 100vh;
    // top: 0;
    // left: 0;
    // background-color: #eee;
    // transform: translate(100%, 0);
    // transition: all 0.3s;
  }

  @include laptop {
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 10;
    width: 100%;
    height: auto;
    background-color: white;
  }

}

.sub_wrapper {

  @include laptop {
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
  }


  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}





.subsum {

  @include mobile {
    li {
      padding: 20px 40px;
      transition: 0.3s;

      &:hover {
        background-color: white;
      }
    }

  }


  @include laptop {
    li {
      padding-bottom: 20px;
      font-weight: 700;
    }
  }
}


.subcon {

  @include mobile {

    >li {

      >a {
        display: block;
        padding: 20px 40px 10px 40px;
        color: #666;
        font-weight: 700;
      }

      ul li {
        padding: 10px 40px;

        &:hover {
          background-color: white;
        }
      }
    }
  }


  @include laptop {

    >li {
      >a {
        display: block;
        margin-bottom: 20px;
        color: #666;
        font-weight: 700;
      }

      ul li {
        margin-bottom: 10px;


        a {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #222;
            transition: all 0.3s;
          }

          &:hover::before {
            width: 100%;

          }
        }


      }

    }
  }
}



.subimg {


  li {
    position: relative;
  }

  a {
    display: block;
    width: 367px;
    height: 367px;
    overflow: hidden;
    transition: all 0.3s;
    background-size: 367px 367px;
    background-position: center;
  }

  span {
    position: relative;
    bottom: 40px;
    left: 20px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: white;
      transition: 0.3s;
    }

    &:hover::before {
      width: 100%;
    }


  }

  @include mobile {
    display: none;
  }
}




.men {

  .subimg {

    a {
      background: url('img/nav_men.jpeg') no-repeat;
      background-size: 367px 367px;
      background-position: center;

      &:hover {
        background-size: 400px 400px;
      }
    }

  }
}


.women {

  .subimg {

    a {
      background: url('img/nav_women.png') no-repeat;
      background-size: 367px 367px;
      background-position: center;

      &:hover {
        background-size: 400px 400px;
      }

    }

  }
}

.kids {

  .subimg {

    a {
      background: url('img/nav_kids.png') no-repeat;
      background-size: 367px 367px;
      background-position: center;

      &:hover {
        background-size: 400px 400px;
      }

    }

  }
}


.foot {

  .subimg {

    a {
      background: url('img/nav_foot.png') no-repeat;
      background-size: 367px 367px;
      background-position: center;

      &:hover {
        background-size: 400px 400px;
      }

    }

  }
}

.act {

  .subimg {

    a {
      background: url('img/nav_activity.png') no-repeat;
      background-size: 367px 367px;
      background-position: center;

      &:hover {
        background-size: 400px 400px;
      }

    }

  }
}


.sale {

  .subimg {

    a {
      background: url('img/nav_sale.png') no-repeat;
      background-size: 367px 367px;
      background-position: center;

      &:hover {
        background-size: 400px 400px;
      }
    }

  }
}





.gnb_mobileInner_utility {

  padding: 30px 40px;

  a {
    display: block;
    padding-bottom: 20px;
    cursor: pointer;
  }

  a:nth-child(1) {
    background: url('img/icon/profile.png') no-repeat;
    background-position: left top;
    background-size: 24px 24px;
    padding-left: 40px;
    line-height: 1.8rem;
  }

  a:nth-child(2) {
    background: url('img/icon/heart.png') no-repeat;
    background-position: left top;
    background-size: 24px 24px;
    padding-left: 40px;
    line-height: 1.8rem;
  }

  a:nth-child(3) {
    background: url('img/icon/bag.png') no-repeat;
    background-position: left top;
    background-size: 24px 24px;
    padding-left: 40px;
    line-height: 1.8rem;
  }

  a:nth-child(4) {
    background: url('img/icon/location.png') no-repeat;
    background-position: left top;
    background-size: 24px 24px;
    padding-left: 40px;
    line-height: 1.8rem;
  }

  @include laptop {
    display: none;
  }
}




.header_utility {
  display: none;

  @include laptop {
    display: block;
  }
}


.header_utility_container {
  display: flex;
}


.inputBox {
  width: auto;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;



  >div {
    display: flex;
    background-color: #eee;
    border-radius: 50px;
    padding: 2px;
  }


  span {
    display: block;
    width: 40px;
    height: 30px;
    background: url('img/icon/search.png') no-repeat;
    background-position: center center;
    background-size: 24px 24px;

  }

  input {
    display: block;
    width: 0px;
    height: 30px;
    border: none;
    background-color: transparent;
    transition: width 0.3s;
    font-size: 16px;

    &::placeholder {
      color: #111;
    }
  }
}




.inputBox input.inputActive {
  width: 140px !important;
}



.profile_box {

  @include mobile {
    display: none;
  }

  @include laptop {
    display: block;
  }
}


.profile_wrapper {
  margin-left: 10px;
  position: relative;

  >a {
    display: block;
    width: 40px;
    height: 70px;
    background: url('img/icon/profile.png') no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    cursor: pointer;
  }

  span {
    visibility: hidden;
  }
}



.profile_submenu {
  display: none;
  position: absolute;
  z-index: 10;
  top: 70px;
  right: 0;
  width: 240px;
  height: auto;
  background-color: white;
  padding: 20px;


  a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 40px;
    margin: 10px 0;
  }

  a:nth-child(1) {
    background: url('img/icon/login.png') no-repeat;
    background-position: left center;
    background-size: 24px 24px;
  }

  a:nth-child(2) {
    background: url('img/icon/heart.png') no-repeat;
    background-position: left center;
    background-size: 24px 24px;
  }

  a:nth-child(3) {
    background: url('img/icon/bag.png') no-repeat;
    background-position: left center;
    background-size: 24px 24px;
  }

  a:nth-child(4) {
    background: url('img/icon/location.png') no-repeat;
    background-position: left center;
    background-size: 24px 24px;
  }
}




.header_utility_mobile {

  @include mobile {
    display: flex;
  }


  @include laptop {
    display: none;
  }
}

.search_mobile {
  width: 40px;
  height: 70px;
  background: url('img/icon/search.png') no-repeat;
  background-position: center center;
  background-size: 30px 30px;
  cursor: pointer;

  span {
    visibility: hidden;
  }
}




.searhWindow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  // height: 400px;
  background-color: white;
    border-bottom: 1px solid #828282;
  z-index: 10;
  display: none;
}




.searhWindow_wrapper {
  padding: 80px 40px;
  position: relative;


  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }


}

.search_inputBox {
  display: flex;
  // border-bottom: 1px solid #222;
  border-radius: 50px;
  background-color: #eee;


  input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0 20px;
  }

  button {
    background-color: $blue;
    color: white;
    border-radius: 0 50px 50px 0;
    padding: 0 20px;

  }


  @include laptop {
    input {
      height: 60px;
      padding: 0 40px;
    }

    button {
      padding: 0 40px;
    }
  }


}


.popularSearch {
  padding-top: 40px;

  p {
    margin-bottom: 20px;
    font-weight: 700;
    color: #aaa;
  }

  ul li {
    margin: 10px 20px;
    opacity: 0;
    animation: upDown 1.5s alternate;
    animation-fill-mode: forwards;
 animation-iteration-count: 1;


    &:nth-child(1) {
      animation-delay: 0;
      transform: translateY(0);
  
    }

    &:nth-child(2) {
      animation-delay: 0.2s;

      transform: translateY(0);
  
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    
      transform: translateY(0);
  
    }

    &:nth-child(4) {
      animation-delay: 0.6s;

      transform: translateY(0);
  
    }

    &:nth-child(5) {
      animation-delay: 0.8s;

      transform: translateY(0);
  
    }

    &:nth-child(6) {
      animation-delay: 1.0s;

      transform: translateY(0);
  
    }
  }


}

// search 창 열 때 애니메이션이 시작되어야함 
// 제이쿼리 사용.


@keyframes upDown {
  from {
    transform: translateY(10px);
    opacity: 0;

  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.searchClose {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 50px;
  background-color: $blue;
  border-radius: 50%;
  background-image: url('img/icon/close-white.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;

  span {
    visibility: hidden;
  }
}



.navBtn {
  margin-left: 10px;

  button {
    width: 30px;
    height: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    // border: 1px solid gray;

    span {
      position: absolute;
      width: 30px;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #111;
      border-radius: 30px;
      transition: all 0.3s;
    }

    .navline1 {
      top: 8px;
    }

    .navline2 {
      top: 18px;
    }

    .navline3 {
      bottom: 8px;
    }
  }
}


.navBtn.openNav {

  .navline1 {
    top: 20px;
    transform: translateX(-50%) rotate(45deg);
  }

  .navline2 {
    opacity: 0;
  }

  .navline3 {
    top: 20px;
    transform: translateX(-50%) rotate(-45deg);
  }
}
































// main 

main {

  @include laptop {
    margin-top: 70px;
  }
}




.main_wrapper {
  width: 100%;


  @include mobile {
    height: 100vh;
  }

  @include laptop {
    height: 680px;
  }
}


.main_slide {
  position: relative;
  width: 100%;


  @include mobile {
    height: 100vh !important;
  }

  @include laptop {
    height: 680px !important;
  }
}


.m1 {
  background: url('img/main/main_bg_01_mobile.jpg');
  background-position: center;
  background-size: cover;


  @include laptop {
    background: url('img/main/main_bg_01.jpg') no-repeat;
    background-position: 60% 50%;
    background-size: cover;
  }
}



.m2 {
  background: url('img/main/main_bg_02_mobile.jpg') no-repeat;
  background-position: center;
  background-size: cover;


  @include laptop {
    background: url('img/main/main_bg_02.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.m3 {
  background: url('img/main/main_bg_03_mobile.jpg') no-repeat;
  background-position: center;
  background-size: cover;


  @include laptop {
    background: url('img/main/main_bg_03.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}





.main_swiper {

  .swiper-button-next,
  .swiper-button-prev {
    color: #474747;
    background-color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: -1;
      transition: 0.4s;
    }

    &:hover::before {
      width: 120%;
      height: 120%;
      background-color: rgba(255, 255, 255, 1);

    }
  }

  .swiper-button-next {
    @include desktop {
      right: 40px;
    }
  }

  .swiper-button-prev {
    @include desktop {
      left: 40px;
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
  }


  .swiper-pagination {
    // display: none;
    width: 240px !important;
    bottom: 130px !important;
    top: auto !important;
    left: 50% !important;
    transform: translate(-50%, 0);
  }

  .swiper-pagination-progressbar {
    background: rgba(255, 255, 255, 0.5) !important;
    border-radius: 10px;
  }

  .swiper-pagination-progressbar-fill {
    border-radius: 10px;
    height: 4px !important;
  }

}


.main-copy {
  position: absolute;
  color: white;
  // border: 1px solid black;
  text-align: center;
  width: 100%;


  h3 {
    font-weight: 800;
    opacity: 0;
  }

  h1 {
    font-weight: 800;
    opacity: 0;
    margin: 10px 0 18px 0;
  }

  p {
    margin: 10px 0 40px 0;
    opacity: 0;
  }


  button {
    display: inline-block;
    // width: 140px;
    // height: 50px;
    padding: 10px 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: relative;
    color: white;
    z-index: 2;
    opacity: 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 0;
      background-color: white;
      transition: 0.3s;
    }


    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 0;
      background-color: white;
      transition: 0.3s;
    }


    &:hover::after,
    &:hover::before {
      height: 100%;
    }
  }



  @include mobile {
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);

    h3 {
      font-size: calc(4vw + 5px);
      line-height: calc(4vw + 5px);
    }

    h1 {
      font-size: calc(5vw + 10px);
      line-height: calc(5vw + 10px);
    }

    p {
      font-size: calc(3vw + 1px);
      line-height: calc(3vw + 1px);
    }
  }


  @include laptop {
    padding: 0 40px;
    text-align: left;
    top: 180px;
    left: 50%;
    transform: translate(-50%, 0);

    h3 {
      font-size: 28px;
    }

    h1 {
      font-size: 64px;
    }

    p {
      font-size: 18px;
    }
  }


  @include desktop {
    width: 1200px;
  }

}






.main_slide.swiper-slide-active {


  .main-copy {

    h3 {
      animation: fade-show-right 1s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
    }

    h1 {
      animation: fade-show-right 1s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
    }

    p {
      animation: fade-show-right 1s;
      animation-delay: 0.8s;
      animation-fill-mode: forwards;
    }


    button {
      animation: fade-show-right 1s;
      animation-delay: 1.0s;
      animation-fill-mode: forwards;
    }

  }
}

@keyframes fade-show-right {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



















// rank

.ranking {
  position: relative;
}

// .rank_bg {
//   width: 100%;
//   height: calc(100% - 60%);
//   background-color: #eee;
//   position: absolute;
//   bottom: 0px;
//   left: 0;
//   z-index: -1;
// }


.ranking_container {
  padding: 140px 40px;
  position: relative;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}





.rank_titleBox {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include mobile {
    display: block;
  }

}



.rankTime {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 10px 20px;

  @include mobile {
    margin-top: 20px;
  }

  span {
    margin-right: 10px;
    font-weight: 700;
    color: $blue;
  }

}


.rank_swiper_container {
  position: relative;


  #rankNext {
    right: -38px;
  }

  #rankPrev {
    left: -38px;
  }


  .swiper-button-next,
  .swiper-button-prev {
    color: #474747;
    background-color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(230, 230, 230, 0.5);
      z-index: -1;
      transition: 0.4s;
    }

    &:hover::before {
      width: 120%;
      height: 120%;
      background-color: rgba(230, 230, 230, 1);

    }
  }

  .swiper-button-next {
    @include desktop {
      right: 40px;
    }
  }

  .swiper-button-prev {
    @include desktop {
      left: 40px;
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
  }



}


.rank_swiper {
  position: static;
  // border: 1px solid black;


  .swiper-pagination {
    display: none !important;
  }
}






.rankNum {
  width: 40px;
  height: 40px;
  // border: 1px solid black;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;

  // color: $blue;
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 1px;
    background-color: #222;
    top: 0;
    left: 0;
    transition: 0.3s;
  }


  &::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 1px;
    background-color: #222;
    bottom: 0;
    left: 0;
    transition: 0.3s;
  }



}








.rank_product,
.arrive_product {
  display: block;
  position: relative;
  margin-bottom: 20px;

  img {
    width: 100%;
    display: block;
    transition: all 0.4s;
  }

}

.img2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s;
}


.rank_product:hover,
.arrive_product:hover {

  .img2 {
    opacity: 1;
  }
}

.rank_product:hover,
.arrive_product:hover {

  .img1 {
    opacity: 0;
  }
}


.rankbox:hover .rankNum::after,
.rankbox:hover .rankNum::before {
  width: 40px;
}




.like {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10px;
  background: url('https://api.iconify.design/bi/heart.svg?color=%23333') no-repeat;
  background-position: center;
  background-size: 24px 24px;
  cursor: pointer;

  span {
    visibility: hidden;
  }
}


.like.liked {
  background: url('https://api.iconify.design/bi/heart-fill.svg?color=red') no-repeat;
  background-position: center;
  background-size: 24px 24px;
}


.rank_copy {
  text-align: center;

  p {
    font-weight: 600;
  }

}






.video {
  scroll-margin-top: 0;
}


.video_wrapper {
  position: relative;
}

.videoBox {
  width: 100%;
  height: 640px;

  @include mobile {

    video:nth-child(1) {
      display: none;
      width: 100%;
      object-fit: cover;
    }


    video:nth-child(2) {
      display: block;
      width: 100%;
      object-fit: cover;
      height: 640px;
    }
  }


  @include laptop {

    video:nth-child(1) {
      display: block;
      width: 100%;
      height: 640px;
      object-fit: cover;

    }

    video:nth-child(2) {
      display: none;
    }
  }
}



.video-copy {
  width: 100%;
  padding: 0 40px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: white;

  >span {
    font-size: 18px;
  }

  h3 {
    font-size: 32px;
    margin: 10px 0;
  }

  h2 {
    font-size: 48px;
    margin-bottom: 80px;
  }

  button {
    color: white;
    padding: 10px 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 0;
      background-color: white;
      transition: 0.3s;
    }


    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 0;
      background-color: white;
      transition: 0.3s;
    }


    &:hover::after,
    &:hover::before {
      height: 100%;
    }
  }





  @include mobile {

    >span {
      font-size: calc(3vw + 1px);
      line-height: calc(3vw + 1px);
    }

    h3 {
      font-size: calc(4vw + 5px);
      line-height: calc(4vw + 5px);
    }

    h2 {
      font-size: calc(5vw + 10px);
      line-height: calc(5vw + 10px);
    }
  }
}

















// grid 




.grid_container {
  padding: 140px 40px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}










.grid_titleBox {
  margin-bottom: 40px;

  @include laptop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}



.arrival {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 50px;
  padding: 0 14px;
  line-height: 40px;
  transition: 0.3s;

  @include mobile {
    margin-top: 20px;
  }


  &:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(179, 179, 179, 0);
  }
}



#newNum {
  display: block;
  width: 30px;
  height: 40px;
  background: url('img/icon/reload.png') no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  cursor: pointer;
}

#arrivalNum {
  font-size: 18px;
  font-weight: 700;
  color: $blue;
}





.tabWrapper {

  @include laptop {
    display: flex;
  }

}





.tabSwiper {
  // background-color: #eee;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 18px;
  border-right: 1px solid #eee;


  li {
    position: relative;
    transition: 0.3s;
    cursor: pointer;
  }

  @include mobile {


    li {
      line-height: 70px;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        transition: 0.3s;
      }
    }
  }



  @include laptop {
    flex-basis: 20%;
    flex-shrink: 0;


    li {

      width: auto !important;
      height: auto !important;
      text-align: left;
      line-height: 2.6rem;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        transition: 0.3s;
      }
    }
  }

}


.tabSwiper .swiper-slide-thumb-active {
  color: $blue;

  &::after {
    content: "";
    width: 100%;
    background-color: $blue;
  }
}






.tabCon {

  .swiper-button-next,
  .swiper-button-prev {
    color: #474747;
    background-color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(230, 230, 230, 0.5);
      z-index: -1;
      transition: 0.4s;
    }

    &:hover::before {
      width: 120%;
      height: 120%;
      background-color: rgba(230, 230, 230, 1);

    }
  }

  .swiper-button-next {
    @include desktop {
      // right: 40px;
    }
  }

  .swiper-button-prev {
    @include desktop {
      // left: 40px;
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
  }



}



// feature 


.feature {

  @include mobile {
    width: 100%;
    height: 640px;
  }

  @include mobile {
    width: 100%;
    height: 640px;
  }
}



.feature_container {
  // position: relative;

  @include mobile {
    width: 100%;
    height: 640px;
    background: url('img/feature/feature_mobile.png') no-repeat;
    background-position: 50% bottom;
    background-size: cover;
  }


  @include laptop {
    width: 100%;
    height: 640px;
    background: url('img/feature/feature_pc.png') no-repeat;
    background-position: 50% bottom;
    background-size: cover;
  }

}



.feature_bg {
  position: relative;
  height: 640px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}

.feature_content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;


}


.feature_copy {
  // position: absolute;
  // top: 60px;
  // left: 50%;
  // transform: translate(-50%, 0);
  color: white;
  margin-bottom: 30px;
}


.feature_product {
  // position: absolute;
  // top: 40%;
  // left: 50%;
  // transform: translate(-50%, -50%);


  @include mobile {
    img {
      width: 240px;
      height: 240px;
    }
  }

  @include laptop {
    img {
      width: 280px;
      height: 280px;
    }
  }
}


.feature_icon {
  display: flex;
  margin: 10px auto;
  // position: absolute;
  // top: 70%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  img {
    display: block;
    margin: 0 4px;
    width: 24px;
    height: 24px;
  }
}




.feature_info {
  width: 100%;
  color: white;


  h3 {
    line-height: 40px;
  }

  img {
    transform: rotate(90deg);
    width: 40px;
    // display: block;
    // margin: 0 auto;
  }



  button {
    margin-top: 20px;
    display: inline-block;
    width: 140px;
    height: 50px;
    padding: 10px 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: relative;
    color: white;
    z-index: 2;


    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 0;
      background-color: white;
      transition: 0.3s;
    }


    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 0;
      background-color: white;
      transition: 0.3s;
    }


    &:hover::after,
    &:hover::before {
      height: 100%;
    }
  }



}






// banner  


.banner {
  padding: 140px 40px 0 40px;
  overflow-x: hidden;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.banner_container {
  display: grid;


  @include mobile {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }


  @include laptop {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }


  >a {
    height: 640px;
    display: block;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0);
    }

  }
}


.left_banner {
  background: url('https://images.unsplash.com/photo-1634040577860-f7d03811f8b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') no-repeat;
  background-position: 50% 30%;
  background-size: cover;

  .banner-copy {
    left: 40px;
  }
}

.right_banner {
  background: url('img/bg13.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  .banner-copy {
    right: 40px;
    text-align: right;
  }
}



.banner-copy {
  position: absolute;
  bottom: 80px;
  color: white;
  z-index: 5;

  button {
    margin-top: 20px;
    display: inline-block;
    // width: 140px;
    height: 50px;
    padding: 10px 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: relative;
    color: white;
    z-index: 2;


    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 0;
      background-color: white;
      transition: 0.3s;
    }


    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 0;
      background-color: white;
      transition: 0.3s;
    }


    &:hover::after,
    &:hover::before {
      height: 100%;
    }
  }

}






// newsletter 



.newsletter {
  padding: 140px 40px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}



.news_container {
  position: relative;
  text-align: center;


  @include laptop {
    display: flex;
    flex-direction: row-reverse;
    // text-align: left;
  }


}


.news-copy {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-weight: 800;
    margin: 10px 0 5px 0;
    text-transform: uppercase;
  }


  button {
    // color: white;
    margin-top: 40px;
    width: 210px;
    padding: 10px 20px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    position: relative;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 0;
      background-color: #222;
      transition: 0.3s;
    }


    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 0;
      background-color: #222;
      transition: 0.3s;
    }


    &:hover::after,
    &:hover::before {
      height: 100%;
    }
  }


  @include laptop {
    margin-left: 20px;
  }
}




.email_icon {
  animation-name: up-down;
  animation-duration: 0.7s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes up-down {

  0% {
    transform: translateY(10px);
    // opacity: 0;
  }

  // 50% {
  //   transform: translateY(5px);
  //   opacity: 1;
  // }

  100% {
    transform: translateY(0);
    // opacity: 0;
  }

}


.news_bg {

  img {
    width: 100%;
  }


  @include mobile {
    display: none;
  }
}










.inspo_container {
  padding: 0px 40px 140px 40px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.inscopy {
  text-align: center;
  margin-bottom: 40px;

  span {
    text-transform: uppercase;
  }
}


.inspo_wrapper {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;

  a {
    position: relative;
    opacity: 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.0);
      background-position: 50% 48%;
      transition: ease-in-out 0.4s;

    }
  }

  a:hover::after {
    background-image: url('https://api.iconify.design/ant-design/instagram-outlined.svg?color=white');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  a,
  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  a:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  a:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  a:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  a:nth-child(4) {
    grid-column: 4/6;
    grid-row: 1/3;
  }

  a:nth-child(5) {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  a:nth-child(6) {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  a:nth-child(7) {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  a:nth-child(8) {
    grid-column: 4/5;
    grid-row: 3/4;
  }

  a:nth-child(9) {
    grid-column: 5/6;
    grid-row: 3/4;
  }
}









// shop info & footer 


.shop_info {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}


.info_container {
  padding: 60px 40px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.info_wrapper {

  @include mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
  }

  @include laptop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 20px;
  }
}


.info_box {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mobile {
    padding: 20px 0;
  }

  p {
    margin: 10px 0;
    font-size: 14px;
    flex-shrink: 0;
  }

  a {
    width: 92px;
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      border-bottom: solid 1px black;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      transition: all 0.4s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }
}


.info_box:not(:last-child) {

  @include mobile {
    border-bottom: 1px solid #cdcdcd;
  }

  @include laptop {
    border-right: 1px solid #cdcdcd;
  }
}

.contact {
  h4 {
    font-weight: 500;
    font-size: 16px;
    padding-left: 30px;
    background: url('img/icon/contact.png') no-repeat;
    background-position: left center;
    background-size: 20px 20px;
  }

}


.customer {

  h4 {
    font-weight: 500;
    font-size: 17px;
    padding-left: 30px;
    background: url('img/icon/service.png') no-repeat;
    background-position: left center;
    background-size: 20px 20px;
  }

}


.gift {

  h4 {
    font-weight: 500;
    font-size: 17px;
    padding-left: 30px;
    background: url('img/icon/gift.png') no-repeat;
    background-position: left center;
    background-size: 20px 20px;
  }

}


.store {

  h4 {
    font-weight: 500;
    font-size: 17px;
    padding-left: 30px;
    background: url('img/icon/store.png') no-repeat;
    background-position: left center;
    background-size: 20px 20px;
  }
}


footer {
  margin-top: 140px;
  background-color: #111;
  font-size: 14px;
}


.footer_container {
  padding: 80px 40px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.footer_wrapper {

  @include laptop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 20px;
    grid-template-rows: 1fr 140px;

  }
}


.social_mail {
  grid-column: 1/3;
}


.mail {
  color: #cdcdcd;

  h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: #7b7b7b;
    margin-bottom: 10px;
  }

  div {
    margin-top: 12px;

    input {
      color: #cdcdcd;
      width: 250px;
      height: 40px;
      border: none;
      border-bottom: 1px solid #cdcdcd;
      background-color: transparent;

      &::placeholder {
        color: #cdcdcd;
      }
    }
  }
}


.social {
  margin-top: 30px;
  width: 40px;
  height: 40px;
  display: flex;

  a {

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      transition: 0.3s;

      path {
        fill: #0284C5;
        transition: 0.3s;

      }
    }
  }
}




// footer all
.footerNav {
  grid-column: 3/5;
  padding-bottom: 40px;
}


.footer_inner {

  li {
    margin: 10px 0;

    a {
      color: #cdcdcd;
      position: relative;


      &::before {
        content: '';
        border-bottom: solid 1px #cdcdcd;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        transition: all 0.4s ease;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}








// fooer mobile

.mobile_footerNav_container {
  padding-top: 40px;
  display: block;

  @include laptop {
    display: none;
  }
}


.mobile_footerNav {

  .mobile_footer_ul {

    >li {
      padding-bottom: 16px;
    }


    a {
      cursor: auto;
    }


    span {
      padding-bottom: 16px;
      border-bottom: 1px solid #7b7b7b;
      color: white;
      display: block;
      background: url('img/icon/down-arrow-white.png') no-repeat;
      background-position: right center;
      background-size: 18px 18px;
      cursor: pointer;

      // &.mfooter_open {
      //   background: url('img/icon/up-arrow-white.png') no-repeat !important;
      //   background-position: right center;
      //   background-size: 18px 18px;

      // }
    }

  }



  .footer_inner {
    display: none;
  }
}













// footer pc

.pc_footerNav_container {
  display: block;

  @include mobile {
    display: none;
  }
}


.pc_footerNav {


  ul {

    span {
      color: #7b7b7b;
      margin-bottom: 10px;
    }

    a {
      cursor: auto;
    }

  }

  >ul:first-child {
    display: flex;
    justify-content: space-between;
  }
}




.legal {
  grid-column: 1/5;

  margin-top: 40px;
  color: #cdcdcd;

  ul {
    li {
      display: inline-block;
      margin-right: 10px;

      a {
        color: #cdcdcd;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}




// end